<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>获取相册资源及自定义相册.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01B0A66D1EB8AE8400E3F039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B0A6861EB8AE8400E3F039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01B0A6911EB8AE8500E3F039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
